@charset "UTF-8";

body {
  color: #333;
  word-break: break-all;
  letter-spacing: 1px;
  font-size: 15px;
  font-family: 'Noto Serif', serif;
  line-height: 1.8;
}

a {
  color: #333;
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  width: 100%;
  background-color: #fff;
}

.header_all {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

header .logo {
  padding: 10px 20px;
}

header .logo img {
  width: auto;
  height: 60px;
}

header .nav_bar {
  margin: 0 30px;
}

header .nav_bar ul {
  display: flex;
}

header .nav_bar ul .respons {
  visibility: hidden;
}

header .nav_bar ul li {
  margin: 40px 16px 0;
  height: 50px;;
}

header .nav_bar ul li a small {
  display: block;
  visibility: hidden;
  margin-top: 2px;
  padding-top: 6px;
  border-top: 3px solid #5B8FAD;
  color: #5B8FAD;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
}

header .nav_bar ul li a {
  padding: 8px 0px;
  color: #606060;
  font-weight: bold;
  font-size: 24px;
}

header .nav_bar ul li a:hover {
  color: #5B8FAD;
}

header .nav_bar ul li a:hover small {
  visibility: visible;
  border-top: 2px solid #5B8FAD;
}

header .drawer {
  visibility: hidden;
}

.top {
  width: 100%;
  height: auto;
}

.top_bg {
  position: relative;
  min-height: 680px;
  width: 100%;
  height: 70vh;
  background: url("../img/top.jpg") no-repeat center;
  background-position: 70% 80%;
  background-size: cover;
}

.top .top_img {
  position: absolute;
  top: 30%;
  left: 8%;
  z-index: 3;
  width: 880px;
  height: auto;
  color: rgb(180, 180, 180);
  font-size: 22px;
}

.top .top_img .subtext {
  margin-left: 10px;
}

.top .top_img img {
  width: 500px;
  height: auto;
}

.section .section_ttl {
  margin-top: 200px;
  margin-bottom: 50px;
  text-align: center;
}

.section .section_ttl h2 {
  display: inline-block;
  color: #5B8FAD;
  font-size: 50px;
}

.section .section_ttl small {
  display: block;
  border-top: 2px solid #5B8FAD;
  font-size: 28px;
}

.arrow {
  margin-top: 50px;
  margin-right: 100px;
  text-align: right;
}

.service_wrap {
  padding: 0 16px;
}

.service_item {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-bottom: 28px;
  width: 100%;
  height: 160px;
  background-color: #fff;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.1);
}

.service_item .service_item_img {
  padding-left: 16px;
  width: 25%;
}

.service_item .service_item_img {
  padding-left: 16px;
  width: 25%;
}

.service_item .service_item_img img {
  width: 100%;
  height: auto;
}

.service_wrap .service_item p {
  margin-left: 30px;
  width: 65%;
  font-size: 20px;
  line-height: 1.8em;
}

footer {
  padding: 50px 0 20px;
  background: #eee;
  color: #333333;
}

.footer_logo {
  margin: 0 auto;
  margin-bottom: 40px;
  width: 15%;
  height: auto;
}

.footer_logo img {
  width: 100%;
}

.footer_list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.footer_item {
  margin-right: 20px;
  padding-right: 28px;
  border-right: solid 3px #5B8FAD;
  font-size: 18px;
  line-height: 1;
}

.footer_item a {
  color: #333333;
}

.footer_item a:hover {
  color: #5B8FAD;
}

.footer_item:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

.footer_sns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.footer_sns .sns_icon1 {
  margin-right: 25px;
}

/* .footer_sns .sns_icon1, .sns_icon2 {
  -webkit-transition: 0.2s;
  transition: 0.2s;
} */

.footer_sns .sns_icon1:hover, .sns_icon2:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.footer_txt {
  display: block;
  text-align: center;
  font-size: 15px;
}

.breadcrumb {
  margin: 40px auto;
  max-width: 90%;
}

.breadcrumb ul {
  display: flex;
  margin-bottom: 100px;
}

.breadcrumb li {
  font-size: 20px;
}

.breadcrumb li::after {
  padding-right: 10px;
  content: ">";
  font-size: 20px;
}

.breadcrumb li:last-child::after {
  content: "";
}

.color {
  color: #5B8FAD;
  font-weight: 700;
}