@charset "UTF-8";

.about_wrap {
  display: flex;
  justify-content: center;

  padding-left: 4%;
}

.about_img {
  position: relative;

  display: inline-block;
}

.about_img img {
  width: 50vw;
  max-width: 500px;
  height: auto;
}

.about_img::after {
  position: absolute;
  top: 0;
  left: 0;

  display: block;

  width: 100%;
  height: 100%;

  content: "";

  background: rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 16px 10px #fff;
}

.about_txt {
  margin: 8px 4%;
}

.about_wrap .about_txt .about_ttl h3 {
  font-size: 40px;

  display: inline-block;

  margin-bottom: 24px;

  color: #e4a93b;
}

.about_wrap .about_txt .about_ttl::after {
  display: inline-block;

  width: calc(100% - 290px);
  height: 3px;

  content: "";

  background: #e4a93b;
}

.about_wrap .about_txt p {
  line-height: 48px;
}

.about_wrap .about_txt p strong {
  background: linear-gradient(transparent 50%, #ffec9a 50%);
}

.feature {
  background: #f0f0f1;
}

.feature_txt {
  width: 65%;
  margin: 0 auto;
  padding: 0 3%;
}

.feature_txt p {
  line-height: 1.8em;

  padding-bottom: 140px;

  letter-spacing: 0.2em;
}

.feature_txt p strong {
  color: #e4a93b;
}

.feature_txt p span {
  border-bottom: 2px solid #e4a93b;
}

.feature_wrap {
  text-align: center;
}

.feature_wrap .feature_item {
  display: inline-block;

  width: 480px;
  height: 680px;
  margin: 0 16px;

  vertical-align: top;

  background-color: #fff;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.1);
}

.feature_wrap .feature_item .feature_img {
  width: 100%;
  height: 420px;

  background-position: 60% 50%;
  background-size: cover;
}

.feature_wrap .item1 .feature_img {
  background-image: url("../img/feature1.jpg");
}

.feature_wrap .item2 .feature_img {
  background-image: url("../img/feature2.jpg");
}

.feature_wrap .feature_item h3 {
  font-size: 28px;

  padding: 28px 0;

  text-align: center;
}

.feature_wrap .feature_item p {
  font-size: 24px;
  line-height: 1.5em;

  padding: 0 24px;
}

.service_txt {
  padding: 0 3%;
}

.service_txt p {
  letter-spacing: 0.2em;
  line-height: 1.8em;
  padding-bottom: 100px;
}

.service_txt p span {
  border-bottom: 2px solid #e4a93b;
}

.service_txt p strong {
  color: #e4a93b;
}